* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 22px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#F5EDF0;
    color: #112A46;
}
h1 {
    border: 2px solid #112A46;
    text-align: center;
    padding: 0.5rem;
}
.header-image {
    border: 1px solid #F5EDF0;
    height: 328px;
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.order_form {
    list-style-type: disc;
    padding: 1rem;
    list-style-position: inside;
}

a:link {
    color: #084883;
    text-decoration: none;
}

a:visited {
    color: #57718f;
    text-decoration: none;
}

a:hover {
    color: #112A46;
    background-color: #f0aec6;
}

a:active {
    color: #437ec2;
}

